@import '../../../utils/variables.scss';

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__head {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
  }

  &__pagination {
    font-size: 20px;
    margin-bottom: 10px;
    :nth-child(2) {
      margin: 0 10px;
    }
  }

  &__previous,
  &__next {
    cursor: pointer;
    &:hover {
      // text-decoration: underline;
      font-weight: bold;
    }
  }

  &__transactions {
    display: flex;
    flex-wrap: wrap;

    a {
      color: black;
      cursor: pointer;
      text-decoration: none;
      width: max-content;
    }
    @media (max-width: $tablet) {
      flex-direction: column;
      flex-wrap: nowrap;
      a {
        width: 100%;
      }
    }
  }
}
