@import '../../../utils/variables.scss';

.transaction {
  background-color: $cardBackgroundColor;
  height: 300px;
  width: 180px;
  margin: 5px;
  padding: 4px;
  border: 1px solid rgb(221, 220, 220);
  border-radius: $borderRadius;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  &:hover {
    padding: 2px;
    border: 3px solid rgb(221, 220, 220);
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 15px 0 auto 0;
  }

  &__label {
    font-size: 13px;
  }

  &__value {
    font-size: 14px;
    font-weight: bold;
  }

  &__date,
  &__amount,
  &__status {
    display: flex;
    justify-content: space-between;
  }

  &__status {
    .transaction__value {
      border-radius: $borderRadius;
      padding: 0 5px;
    }
  }

  &__reversed {
    background-color: rgb(105, 105, 223);
  }

  &__pending {
    background-color: rgb(218, 206, 97);
  }

  &__rejected {
    background-color: rgb(224, 127, 127);
  }

  &__completed {
    background-color: rgb(125, 216, 113);
  }

  @media (max-width: $tablet) {
    flex-direction: row;
    height: 100px;
    width: -webkit-fill-available;

    &__container {
      width: 100%;
      margin: 0 15px;
    }

    &__date,
    &__amount,
    &__status {
      display: flex;
      justify-content: flex-end;
    }

    &__value {
      margin-left: 10px;
    }
  }
}
