@import './utils/variables.scss';

html,
body,
#root,
.app {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.app {
  background-color: #eee;
  display: flex;
  flex-direction: column;

  &__header {
    background-color: $headerColor;
    min-height: 110px;
    display: flex;
    justify-content: center;
  }

  &__loading-spinner {
    align-self: center;
  }

  &__body {
    flex-grow: 1;
    justify-content: center;
    display: flex;
  }

  &__body,
  &__footer {
    max-width: 1400px;
    width: -webkit-fill-available;
    align-self: center;
  }

  &__footer {
    height: 110px;
    display: grid;
    background-color: $footerColor;
    p {
      margin: auto 0 auto 80px;
    }
  }
}
