@import '../../../utils/variables.scss';

.navbar {
  min-height: 110px;
  max-width: 1400px;
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    height: 70%;
    cursor: pointer;
  }

  &__legal-name {
    position: absolute;
    left: 10px;
    top: 50px;
    color: $fontColor;
    font-weight: bold;
    font-size: 20px;
  }

  &__user-name {
    position: absolute;
    left: 10px;
    color: $fontColor;
    font-weight: bold;
    font-size: 20px;
  }

  &__button {
    position: absolute;
    font-size: 20px;
    right: 10px;
    width: fit-content;
  }

  @media (max-width: $mobile) {
    &__user-name,
    &__legal-name {
      font-size: 15px;
    }

    &__user-name {
      top: 10px;
    }

    &__button {
      font-size: 15px;
    }
  }
}
