// RESPOSIVE SETUP
$mediumScreen: 1200px;
$tablet: 768px;
$mobile: 520px;

$borderRadius: 7px;

// FONT
$logoFontFamily: 'Dancing Script';
$primaryFontFamily: 'Roboto';

// COLORS
$primaryColor: #e7640d;
$secondaryColor: #2a3764;
$thirdColor: #0dc444a1;

$headerColor: #5878e0;
$footerColor: #5878e0;

// NOTIFICATIONS
$successColor: #51dc6b;
$infoColor: #3186ea;
$warninColor: #fec022;
$errorColor: #fc5758;
