// RESPOSIVE SETUP
$mediumScreen: 1200px;
$tablet: 768px;
$mobile: 520px;

$borderRadius: 7px;

// COLORS
$fontColor: #c4c5c7;
$primaryColor: #e7640d;
$secondaryColor: #6876a9;
$thirdColor: #0dc444a1;

$headerBackgroundColor: #232730;
$bodyBackgroundColor: #1a1d23;
$footerBackgroundColor: #232730;
$cardBackgroundColor: #a4a9b4;

// NOTIFICATIONS
$successColor: #51dc6b;
$infoColor: #3186ea;
$warninColor: #fec022;
$errorColor: #fc5758;
